.home-app {

    button{
        border: 1px solid;
        padding: 4px;
        border-radius: 50px;
    }

    //hover button 
    button:hover{
        background-color: #f5f5f5;
        color: #000;
    }
}