.container-login{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
}

.container-form{
    //background-color: #AFC9DC;
    background-color: #FFF;
    //background-color: #EFEEE5;
    width: 400px;
    height: auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.bxl-google{
    font-size: 2rem;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}